<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <!-- Key settings for Consumer Autherization-->
    <add key="authConsumerKey" value="yEkVQqHKfqeLDiPBnGk6xtOHJ"/>
    <add key="authConsumerSecret" value="ASrjZGIQCFsBewxYYlnkKM45FHkniu0Uk8saKhZ0kloXO6d2Fy"/>
    <add key="authUrl" value="https://api.twitter.com/oauth2/token"/>
    <add key="twitterURLFormat" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}&amp;count={3}"/>
    <add key="screenname" value="salesforce"/>
    <add key="IncludeRts" value="1"/>
    <add key="ExcludeReplies" value="0"/>
    <add key="count" value="10"/>
  </appSettings>
</configuration>